<div class="flexslider  ">
  <ul class="slides">
    <li>


      <img
        src="{{ section.settings.slide_1 | image_url }}"
        width="full"
        height="full"
        loading="lazy">


    </li>
  </ul>
</div>



{% schema %}
  {
    "name": "HeroBenner",
    "settings": [
      {
        "type": "image_picker",
        "id": "slide_1",
        "label": "slider images"
      }

    ]

  }
{% endschema %}
