<div class="Home_page_banner">
  {% render 'home-banner' %}
</div>



Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque repellendus quasi inventore sit? Cumque voluptatem velit eveniet tempora deserunt. Harum non dolore veniam mollitia! Fugiat quibusdam harum at alias unde.