<div class="flexslider  ">
  <ul class="slides">


    {% for block in section.blocks %}
      <li>
        <img
          src="{{ block.settings.image | image_url }}"
          width="full"
          height="full"
          loading="lazy" />
      </li>
    {% endfor %}



  </ul>
</div>



{% schema %}
  {
    "name": "BannerHomePage",

    "blocks": [
      {
        "type": "image",
        "name": "image_block",
        "limit": 6,
        "settings": [
          {
            "type": "image_picker",
            "label": "Banner Slides",
            "id": "image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "BannerHomePage",
        "category": "image"
      }
    ]
  }
{% endschema %}