<div class="Image_with_text">
  <div class="container mx-auto">

    <div class="grid grid-cols-2">
      <div class="">
        <img
          src="{{ 'img-with-text-1.png' | asset_url }}"
          width="full"
          height="full"
          loading="lazy">
      </div>
      <div class="cols-1 flex items-center justify-center">
        <img
          src="{{ 'image-with-text-2.png' | asset_url }}"
          width="full"
          height="full"
          loading="lazy">
      </div>
    </div>

  </div>
</div>