<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<style>
  .Swiper_Button_For_Product_Slide_prev::after {}
  .Swiper_Button_For_Product_Slide_next::after {}
  .Swiper_Button_For_Product_Slide_prev {
    position: absolute;
    z-index: 5;
    top: 50%;
    cursor: pointer;
  }
  .Swiper_Button_For_Product_Slide_next {
    position: absolute;
    z-index: 5;
    top: 50%;
    right: 0;
    cursor: pointer;
  }
  .swiper-pagination {
    color: black;
    bottom: 0 !important;
  }
  .swiper-pagination-bullet-active {
    background: black !important;
  }
</style>

<div class="container mx-auto my-8">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
    {% comment %} Product Media {% endcomment %}
    <div class="product--medias">
      <div class="hidden md:block">
        {% for media in product.media %}
          <div class="h-100 overflow-hidden p-4">
            {% render 'product-media', media: media %}
          </div>
        {% endfor %}
      </div>

      <div class="md:hidden">
        <div class="swiper h-94">
          <div class="swiper-wrapper">
            {% for media in product.media %}
              <div class="swiper-slide">
                <div class="h-full overflow-hidden">
                  {% render 'product-media', media: media %}
                </div>
              </div>
            {% endfor %}
          </div>

          <div class="swiper-pagination"></div>

          <div class="Swiper_Button_For_Product_Slide_prev">
            {% render 'leftarrow' %}
          </div>
          <div class="Swiper_Button_For_Product_Slide_next">
            {% render 'rightarrow' %}
          </div>
        </div>
      </div>
    </div>
    {% comment %} product form and informations {% endcomment %}
    <div class="product--information">

      {% form 'product', product %}
        <div class="my-3">
          <span class="text-xs text-gray-500">{{ product.vendor }}</span>
        </div>
        <div class="my-3">
          <h1 class="text-3xl text-gray-900">{{ product.title }}</h1>
        </div>
        <div class="my-3">

         {% assign  product_price = product.selected_or_first_available_variant %}

         <span>{{ product_price.compare_at_price }}</span>
         <span>{{ product_price.price }}</span>

         {% if product_price.price < product_price.compare_at_price %}{

         sale
         }
          
         {% endif %}


         
        </div>

        </div>
      {% endform %}



    </div>
  </div>
</div>


<script>
  const swiper = new Swiper('.swiper', {
    direction: 'horizontal',

    pagination: {
      el: '.swiper-pagination'
    },

    navigation: {
      prevEl: '.Swiper_Button_For_Product_Slide_prev',
      nextEl: '.Swiper_Button_For_Product_Slide_next'
    }
  });
</script>