 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
   
}

/* 404 page css  */
.template404 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

 

/* Footter css */

.footer_section{ 
    padding: 100px 0;

}

footer{
    background-color: #EBEAE6;
}
.footer_heading_title{
    padding-bottom: 20px;
 
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 150%;
    /* identical to box height, or 27px */
    letter-spacing: 1px;
    color: #2D2D2D;

}
ul.footer_links_menu{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 1px;
    color: #2D2D2D;
}

ul.footer_links_menu li{

    padding-bottom: 10px;
}



.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 72vh; */
    text-transform: capitalize;
    font-size: 96px;
    font-family: cursive;
}


.e-mailling_paragraph{
 max-width: 80%;
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 143%;
 
letter-spacing: 1px;
padding-bottom: 40px;
color: #2D2D2D;


}


/* flexslider */
 


 .flexslider .slides img{
    width: 100%!important;
    height: 800px!important;
    object-fit: cover;
 
 }

 .flexslider{
    margin: 0!important;
    overflow: hidden;
 }

 .flexslider {
    border: 0px!important;
 }

 .flex-control-nav{
    bottom: 0px!important;
 }

 .form_wrapper {
    border-bottom: 2px solid #6660607a;
    width: 54%;
}
 input.email_input_homepage {
    font-size: 20px;
    padding: 10px 0;
    background: transparent;
}
input.submit_input_homepage{
    font-size: 20px;
    cursor: pointer;
   
    background: transparent;
    border-bottom: 2px solid #6660607a;

}


.ig_link{
    opacity: 0.7;
    color: #2D2D2D;

}

.privacy_policy_text_typo{
    color: #2D2D2D;
    opacity: 0.7;
    letter-spacing: 1px;


}


::placeholder {
    color: #2D2D2D;
    opacity: 0.7;
  }
  

  /* curser on hover */

  .swiper {
    /* width:1400px; */
    /* height: 300px; */
  }

  .swiper-button-prev {
    top: 0!important;
    position: relative!important;
   
    margin: 0!important;
    left: 89%!important;
}
.swiper-button-next {
    top: 0!important;
    margin: 0!important;
}

 .slider_title_home_page {
    margin: 80px 0 10px;
    max-width: 34%;
 
    font-weight: lighter;
}


/* n */

.list_collections_section{
    background-color: #F7F7F5;
}
.heading-withsmall-slider {
    padding: 150px 0;
}

.image_width_logos{
    background-color: #F7F7F5;

}


.heaing_small.text-center small{
 
 height: 40px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 200%;
letter-spacing: 2px;
text-transform: uppercase;
color: #2D2D2D;


}


.heaing_small  h1{

    font-family: 'FreightBig Pro';
    font-style: italic;
    max-width: 52%;
    margin: auto;
    font-weight: 300;
    font-size: 54px;
    line-height: 100%;
    letter-spacing: -1px;
    text-transform: capitalize;
    color: #2D2D2D;
    padding: 50px 0;
  
}


.bg-image-with-text{
    background-color:#EBEAE6;
}

.image-with_text_headings.text-center {
   
    margin: auto;
    max-width: 35%;
    padding: 100px 0;
}


{
 
}

 